@charset "UTF-8";

/* ========= [ * inner pages ]  =========*/
:root {
  --bg-color: #18191b;
  --theme-color: #0e0f11;
  --main-color: rgb(10 101 192);
  --primary-color: #ffffff;
  --text-color: #7f7f7f;
  --border-color: #7f7f7f4d;
}

/* --------------- Menu --------------- */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 0;
  /* padding: 2.5vh 0; */
  margin: 0;
  width: 100%;
  background: var(--primary-color);
  z-index: 999;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 0px 9px rgba(10, 101, 192, 0.1);
}

.navbar.nav-scroll {
  padding: 0;
  position: fixed;
  top: -80px;
  padding: 10px 0;
  /* padding: 2.5vh 0; */
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.navbar .logo {
  /* padding: 0 5px; */
}

.navbar .logo img {
  filter: none;
  width: 125px;
  /* width: 23vh; */
}

.right-icon img {
  filter: invert(1);
  /* width: 2.5vh; */
  width: 15px;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.navbar .navbar-nav {
  padding: 2px 5px;
  margin-left: 15px;
}

.nav-link.dropdown-toggle::after {
  display: none !important;
}

li.nav-item {
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 0px;
  color: var(--text-color);
}

.navbar .navbar-nav .nav-link {
  padding: 0px 10px;
  /* padding: 0 1.5vh; */
  border-radius: 30px;
  font-size: 12px;
  /* font-size: 2.1vh; */
  color: var(--text-color);
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-color);
  transition: width 0.3s;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
  color: var(--main-color);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--main-color);
}

.navbar .navbar-nav .nav-link.active::after {
  width: 100%;
}

.dropdown-menu.show {
  /* border: 1px solid rgb(0 0 0 / 30%); */
  backdrop-filter: blur(10px);
  background: var(--primary-color);
  margin-top: 0px;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding: 0;
  left: 15px;
  box-shadow: 0 0px 9px rgba(10, 101, 192, 0.1);
}

.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* .dropdown-menu.show::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    box-shadow: 0 0px 9px rgba(10, 101, 192, 0.1);
    position: absolute;
    z-index: -1;
    left: 10px;
    top: -10px;
    border: 1px solid rgba(0, 0, 0, .15);
} */

.dropdown-container {
  background: var(--primary-color);
  border-radius: 5px;
}

.dropdown-item {
  padding: 0 1rem;
  font-size: 12px;
  /* font-size: 2.1vh; */

  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--primary-color);
  background-color: var(--main-color);
  /* background: rgba(255, 255, 255, 0.1); */
}

/* .dropdown-item:focus, .dropdown-item:hover{
  background: rgba(255, 255, 255, 0.1);
  color: white;
} */
.navbar .topnav .butn {
  padding: 6px 15px;
  background: var(--main-color);
  color: var(--primary-color);
  font-size: 11px;
}

.navbar .topnav .butn .icon {
  width: auto;
}

.topnav img {
  width: 25px;
}

.search {
  width: 120px;
  border-radius: 30px;
  padding: 5px 10px;
  border-color: #7f7f7f4d;
  font-size: 11px;
}

.search:focus {
  box-shadow: none;
  border: 2px solid var(--main-color) !important;
}


/* .fa-search {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #7f7f7f4d;
  font-size: 2.5vh;
} */

.menu-icon {
  display: none;
  position: relative;
  top: 3px;
  font-size: 17px;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {

  .topnav .butn,
  .topnav input {
    display: none;
  }

  .navbar,
  .navbar.nav-scroll {
    padding: 15px 0px;
  }

  /* .navbar .logo img {
    width: 20vh;
  } */

  /* .topnav img {
    width: 3.6vh;
  } */

}

@media screen and (max-width: 992px) {
  .menu-icon {
    display: block;
  }
}