/* Review CSS */

.review {
    font-size: 18px;
}

.review p {
    color: var(--bs-gray-600);
    font-weight: 500;
}

.review .section-title h2 span.blue1{
    font-size: 36px;
    font-weight: 700;
}



.bg-lightgreen {
    background-color: #fafdff;
}

.section-title h6,
.section-title .h6 {
    font-size: 16px;
}

.section-title h2,
.section-title .h2 {
    font-size: 36px;
}

.section-title h6,
.section-title h2 {
    font-weight: 700;
}



.reviewer-bio img {
    height: 70px;
    width: 70px;
}

.review .overlays {
    background-image: url('../imgs/alto/shape-ev.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    content: "";
}

.qoute-icon {
    top: 20px;
    right: 30px;
    padding: 1rem 1.3rem !important;
}

@media (max-width: 1200px) {
    .review-inner {
        padding: 0px !important;
    }
}



@media ((max-width: 1200px)) {
    .section-title h2 {
        border: none !important;
        padding: 0 !important;
    }
}

@media (max-width: 576px) {
    .section-title h2 {
        font-size: 28px;
    }
    .review-bottom {
       flex-direction: column;
    }
}